<!DOCTYPE html>
<html>
<head>
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>xm-select</title>
</head>
<body>
	
	<div id="demo1"></div>
	
	<script type="text/javascript">
		setTimeout(() => {
			var demo1 = xmSelect.render({
				// 这里绑定css选择器
				el: '#demo1', 
				// 渲染的数据
				data: ''.padEnd(11, ' ').split('').map((a, i) => ( {name: 'name' + i, value: i} )),
				filterable: true,
				remoteSearch: true,
				remoteMethod: function(val, cb){
					setTimeout(() =>  {
						cb([{name: 'xxx' + val, value: 1}])
					}, 2000);
				},
				paging: true,
			})
			demo1.opened()
		}, 1000);
	</script>
	
</body>
</html>